<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--Use Hibernate's own connection pool configuration-->
        <property name="connection.url">jdbc:mysql://localhost:3306/myhiber</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>

        <!--hibernate dialect-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <!--Print sql statement-->
        <property name="hibernate.show_sql">true</property>
        <!--Format sql-->
        <property name="hibernate.format_sql">true</property>

        <!-- Load map file -->
        <mapping class ="com.mapping.Employee" />
        <mapping class ="com.mapping.Project" />
    </session-factory>
</hibernate-configuration>